# /.htaccess (ROOT project)
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /belajar-php/

  # Kalau belum berada di /public, lempar ke /public
  RewriteCond %{REQUEST_URI} !^/belajar-php/public/
  RewriteRule ^(.*)$ public/$1 [L,QSA]

  # Matikan directory listing biar gak tampil "Index of ..."
  Options -Indexes
</IfModule>
